@model XmlFeeder.Services.Models.BetModel

<div>
    <h3>@Html.DisplayFor(x => x.Name)</h3>
    <div class="container">
        <div class="row">

            @foreach (var odd in Model.Odds)
            {
                <div class="col">
                    @odd.Name @odd.SpecialBetValue - @odd.Value
                </div>
            }
        </div>
    </div>
</div>