@{
    ViewBag.Title = "Home Page";
}

<div id="feed">
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>    
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/mustache.js"></script>
    <script>
        $(function () {
            var feedHub = $.connection.feedHub;

            var feedElement = $('#feed');
            feedHub.client.updateFeed = function (sports) {
                feedElement.html('');
                var template = $('#feedTemplate').html();
                feedHtml = Mustache.render(template, sports);
                feedElement.html(feedHtml);
            }

            $.connection.hub.start().done(function () {
                $.ajax({
                    url: '/Home/GetSports/',
                    contentType: 'application/json'
                }).done(function (data) {
                    feedHub.client.updateFeed(data);
                })
            });
        })
    </script>
    <script type="text/template" id="feedTemplate">
        {{#Sports}}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{Name}}
            </div>
            <div class="panel-body">
                {{#Events}}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        League: <strong>{{Name}}</strong>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered">
                            <tr>
                                <th>Start</th>
                                <th>Match</th>
                                <th>Winner Odds</th>
                            </tr>
                            {{#Matches}}
                            <tr>
                                <td>{{ StartDateFormatted }}</td>
                                <td><a href="/Match/Index/{{Id}}">{{Name}}</a></td>
                                <td>
                                    {{#Bets}}
                                    {{#Odds}}
                                        {{Name}} - {{Value}} <br/>
                                    {{/Odds}}
                                    {{/Bets}}
                                </td>
                            </tr>
                            {{/Matches}}
                        </table>
                    </div>
                </div>
                {{/Events}}
            </div>
        </div>
        {{/Sports}}
    </script>
}